<!DOCTYPE html>
<html lang="ko" ng-app="arbiApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lets Arbi</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/numeral/min/numeral.min.js"></script>
    <script src="arbi.js"></script>
  </head>
  <body ng-controller="arbiController">
    <!-- <p>Bithumb Dash {{ bithumb_dash | krw }} vs {{ yobit_dash | krw }} Yobit Dash</p></br>
    <p>Bithumb Dash {{ bithumb_dash | krw }} vs {{ btce_dash | krw }} BTC-E Dash/BTC</p></br>
    <p>Bithumb Dash {{ bithumb_dash | krw }} vs {{ btce_dash_eth | krw }} BTC-E Dash/ETH</p></br>

    <p>Bithumb LTC {{ bithumb_ltc | krw }} vs {{ btce_ltc | krw }} BTC-E LTC/BTC</p></br>
    <p>Bithumb LTC {{ bithumb_ltc | krw }} vs {{ btce_ltc_eth | krw }} BTC-E ETH/LTC</p></br>

    <p>Bithumb ETH {{ bithumb_eth | krw }} vs {{ btce_eth | krw }} BTC-E ETH/BTC</p></br> -->

    <p>Coinone XRP {{ coinone_xrp | krw }} vs {{ poloniex_xrp_krw | krw }}({{ poloniex_xrp }}) Poloniex XRP</p></br>
    <p>Coinone XRP {{ bithumb_xrp | krw }} vs {{ poloniex_xrp_krw | krw }}({{ poloniex_xrp }}) Poloniex XRP</p></br>



    <input ng-model="krw" value="10000000"></input>
    <input id="wait_buy_trade" type="checkbox"/> 1호가 매수 대기 주문
    <input id="wait_sell_trade" type="checkbox"/> 1호가 매도 대기 주문

    <table class="table table-bordered" ng-class="coin" ng-repeat="coin in coins">
      <tr ng-repeat="from in [''].concat(sites)">
        <td ng-class="{success: arbi[coin][from][to].profit_percent >= 1}" ng-repeat="to in [''].concat(sites)">
          <div ng-if="$parent.$index == 0 && $index == 0">
            {{ coin.toUpperCase() }}
          </div>
          <div ng-if="$index == 0">
            {{ from }}
          </div>
          <div ng-if="$parent.$index == 0">
            {{ to }}
          </div>
          <div ng-if="$index > 0 && $parent.$index >0 && arbi[coin][from][to].profit != 0">
            {{ arbi[coin][from][to].profit | krw }} ({{ arbi[coin][from][to].profit_percent.toFixed(1) }}%)
            <table class="table" ng-if="arbi[coin][from][to].profit_percent >= 1">
              <tr>
                <td>
                  <div ng-bind-html="draw_table('Buy', arbi[coin][from][to].buy, arbi[coin][from][to].avg_buy_price, arbi[coin][from][to].qty) | to_trusted"></div>
                </td>
                <td>
                  <div ng-bind-html="draw_table('Sell', arbi[coin][from][to].sell, arbi[coin][from][to].avg_sell_price, arbi[coin][from][to].qty) | to_trusted"></div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>

  </body>
</html>
